@import '../../../styles/colors';
@import '../../../styles/shared';

$project-transition-dur: 0.45s;

$portfolio-shadow: -0.06em 0.05em 0 0.05em #aaa;
$portfolio-shadow-upper: -0.17em 0.12em 0 0.1em #aaa;
$portfolio-shadow-solid: -0.3em 0.2em 0 0.1em #aaa;

$portfolio-shadow-inside-solid: -0.3em 0.2em 0 0.1em #999;

.project {
  width: 20em;

  background-color: #ddd;
  border-radius: 1em;
  padding: 1em;

  display: flex;
  flex-direction: column;
  row-gap: 1em;

  border-bottom: 0.1px solid rgba($global-background, 0.6);
  border-left: 0.1px solid rgba($global-background, 0.6);

  transition-property: box-shadow, transform;
  transition-duration: $project-transition-dur;

  box-shadow: $portfolio-shadow, $portfolio-shadow-upper, $portfolio-shadow-solid;

  &:hover {
    $hover-shadow: 0 0 0.6em $link-color;
    box-shadow: $hover-shadow;

    transform: translateY(0.3em + 0.05em) translateX(-0.5em);

    .project__container {
      box-shadow: $hover-shadow inset;
    }

    .project__image {
      // EFFECT: Image 3d
      border-width: 0;
      margin-bottom: 1px;

      @media screen and (max-width: $breakpoint-mobile) {
        margin-bottom: 1.5px;
      }
      // EFFECT end.
    }
  }

  @media screen and (hover: hover) {
    &:active {
      $active-shadow: 0 0 2em #000;

      transition-duration: 0.1s;
      box-shadow: $active-shadow;

      .project__container {
        transition-duration: 0.15s;

        box-shadow: $active-shadow inset;
      }
    }
  }

  &__image {
    max-width: 100%;
    user-select: none;
    border-radius: 0.5em;

    // EFFECT: Image 3d
    border-top: 3px solid #888;
    border-right: 4px solid #888;

    box-sizing: border-box;

    margin-bottom: 0;

    transition-duration: $project-transition-dur;
    transition-property: border-width, margin-bottom;
    // EFFECT end.
  }

  &__link {
    @include link-shared;

    color: $link-color;

    display: flex;
    flex-direction: column;
    row-gap: 1em;

    @media screen and (hover: hover) {
      &:hover {
        text-decoration-line: underline;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    column-gap: 1em;

    background-color: $global-background;
    border-radius: 1em;
    padding: 0.3em 0.8em;

    transition-property: box-shadow;
    transition-duration: $project-transition-dur;

    box-shadow: $portfolio-shadow-inside-solid inset;
  }

  &__title {
    margin: 0;
  }

  &__year {
    margin: 0;
  }

  &__subtitle {
    text-align: center;
    margin: 0;
    color: #555;
  }

  &__text {
    margin: 0;
    color: #000;

    text-align: justify;

    margin: auto 0;
  }

  &__badges {
    display: flex;
    justify-content: space-between;
  }
}
