@import '../../styles/colors';

.portfolio {
  padding: 50px 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: $global-text;

  margin: 0 7vmin;

  &__stats {
    margin-top: 1em;

    display: flex;
    justify-content: center;
    column-gap: 5vmin;

    &-badge {
      vertical-align: middle;
    }
  }

  &__subtitle {
    color: $global-text;
    margin: 1em 0;
  }

  &__projects {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    gap: 2em;
  }

  &__quantity {
    margin: 3em auto 0;
    text-align: center;
    color: #444;
  }
}
