@import '../../styles/colors';

.portfolio {
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: $global-text;

  &__subtitle {
    color: $global-text;
  }
}
