@import '../../styles/colors';
@import '../../styles/shared';

.portfolio {
  $project-transition-dur: 0.45s;

  $portfolio-shadow: -0.06em 0.05em 0 0.05em #aaa;
  $portfolio-shadow-upper: -0.17em 0.12em 0 0.1em #aaa;
  $portfolio-shadow-solid: -0.3em 0.2em 0 0.1em #aaa;

  $portfolio-shadow-inside-solid: -0.3em 0.2em 0 0.1em #999;

  padding: 50px 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: $global-text;

  margin: 0 7vmin;

  &__subtitle {
    color: $global-text;
    margin: 1em 0;
  }

  &__projects {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    gap: 2em;
  }

  &__project {
    width: 20em;

    background-color: #ddd;
    border-radius: 1em;
    padding: 1em;

    display: flex;
    flex-direction: column;
    row-gap: 1em;

    border-bottom: 0.1px solid rgba($global-background, 0.6);
    border-left: 0.1px solid rgba($global-background, 0.6);

    transition-property: box-shadow, transform;
    transition-duration: $project-transition-dur;

    box-shadow: $portfolio-shadow, $portfolio-shadow-upper, $portfolio-shadow-solid;

    &:hover {
      $hover-shadow: 0 0 0.6em $link-color;
      box-shadow: $hover-shadow;

      transform: translateY(0.3em + 0.05em) translateX(-0.5em);

      .portfolio__project-container {
        box-shadow: $hover-shadow inset;
      }
    }

    @media screen and (hover: hover) {
      &:active {
        $active-shadow: 0 0 2em #000;

        transition-duration: 0.1s;
        box-shadow: $active-shadow;

        .portfolio__project-container {
          transition-duration: 0.15s;

          box-shadow: $active-shadow inset;
        }
      }
    }

    &-image {
      max-width: 100%;
      user-select: none;
      border-radius: 0.5em;

      margin-bottom: 1em;
    }

    &-link {
      color: $link-color;
      text-decoration-line: none;

      @media screen and (hover: hover) {
        &:hover {
          text-decoration-line: underline;
        }
      }
    }

    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      column-gap: 1em;

      background-color: $global-background;
      border-radius: 1em;
      padding: 0.3em 0.8em;

      transition-property: box-shadow;
      transition-duration: $project-transition-dur;

      box-shadow: $portfolio-shadow-inside-solid inset;
    }

    &-title {
      margin: 0;
    }

    &-year {
      margin: 0;
    }

    &-subtitle {
      text-align: center;
      margin: 0;
      color: #555;
    }

    &-text {
      margin: 0;
      color: #000;

      text-align: justify;

      margin: auto 0;
    }

    &-badges {
      display: flex;
      justify-content: space-between;
    }
  }
}
