$global-background: #0f0f0f; // should match <meta name="theme-color"> `content` attribute in /public/index.html
$global-text: #f8f8ff;

$link-color: #00ced1;

$header-background: rgba(
  $color: #000,
  $alpha: 0.6,
);
