@import '../../styles/colors';
@import '../../styles/shared';

.home {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: $global-text;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent 80%, $global-background);
  }

  &__logo {
    height: calc(150px + 5vmin);
    box-shadow: 0 0 3em 0.5em $global-background;
    border: 3px solid rgba($color: $global-background, $alpha: 0.7);
    border-radius: 100%;

    filter: contrast(1.25) brightness(0.75);

    &:hover {
      animation: flash 8s forwards ease-out;
      animation-delay: 50ms;
      opacity: 0;

      @keyframes flash {
        from {
          opacity: 0;
        }
        1% {
          opacity: 0.6;
        }
        2% {
          opacity: 0.2;
        }
        4% {
          opacity: 1;
        }
        6%,
        9% {
          opacity: 0;
        }
        12% {
          opacity: 1;
        }
        35% {
          opacity: 1;
        }
        36% {
          opacity: 0.3;
        }
        37% {
          opacity: 0.6;
        }
        39% {
          opacity: 1;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  &__text {
    margin: 1em;
    min-width: fit-content;
    padding: 0.2em 0.4em;

    background-color: rgba($color: $global-background, $alpha: 0.8);
    border-radius: 6px;

    text-align: center;
    font-weight: 300;
  }

  &__description {
    @include link-shared;

    margin-top: 2em;
    color: #777;
    text-shadow: 0 0 1px #000;

    $typewriter-speed: 4s;
    $typewriter-delay: 1.5s;
    $typewriter-steps: steps(var(--typewriter-characters-length));
    $rotate-speed: calc(#{$typewriter-speed} / (var(--typewriter-characters-length) - 1));

    border-radius: 0.3em;
    backdrop-filter: blur(7px) brightness(1.5);

    position: relative;

    @keyframes typewriter {
      to {
        left: 100%;
      }
    }
    @keyframes blink {
      to {
        background: transparent;
      }
    }
    @keyframes rotate {
      to {
        transform: rotate(180deg);
      }
    }

    $typewriter-animation: typewriter $typewriter-speed $typewriter-steps forwards $typewriter-delay;

    &::before,
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0.01%; // % is required — for iOS Safari, 0 and 0% is not the same
    }

    &::before {
      // "curtain"
      top: 0;
      background: $global-background;
      border-radius: inherit;

      animation: $typewriter-animation;
    }

    &::after {
      // cursor ("caret")
      width: 0.6em;
      height: 0.1em;
      background: #aaa;
      animation: $typewriter-animation, blink 800ms $typewriter-steps infinite,
        rotate $rotate-speed $typewriter-steps var(--typewriter-characters-length) $typewriter-delay;
    }
  }

  &__buttons {
    margin-top: 3em;

    display: flex;
    column-gap: 1.5em;

    font-size: calc(10px + 1vmin);
  }

  &__button {
    @include link-shared;

    --link-color: #fff;

    color: $global-text;
    font-weight: 500;
    letter-spacing: 0.08em;

    padding: 0.5em 1em;

    display: inline-flex;
    align-items: center;
    column-gap: 0.3em;
    user-select: none;

    background-color: rgba(#fff, 0.05);
    backdrop-filter: blur(3px);
    border-radius: 0.9em;
    box-shadow: 0 0 1.5em $global-background;

    position: relative;

    overflow: hidden;

    transition-duration: 1.5s;
    transition-property: color, box-shadow, transform;

    @extend %default-link-effects;

    * {
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      background-color: var(--link-color);

      transform: scaleY(0.03);
      transform-origin: bottom;
      border-radius: inherit;

      transition-property: transform, box-shadow;
      transition-duration: 0.4s;
      transition-timing-function: ease-in;
    }

    &-icon {
      height: 1.5em;
      width: 1.5em;

      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    &-text {
      margin: 0;
    }

    @mixin home__button-shadow-only {
      box-shadow: 0 0 10px var(--link-color), 0 0 20px var(--link-color), 0 0 40px var(--link-color),
        0 0 80px var(--link-color), 0 0 160px var(--link-color);
    }

    @mixin home__button-shadow {
      z-index: 1;

      @include home__button-shadow-only;
    }

    @media screen and (hover: hover) {
      &:hover {
        @include home__button-shadow;

        color: #000;

        &::before {
          transform: scaleY(0.9) translateY(-18%);
          @include home__button-shadow-only;
        }
      }
    }

    @media screen and (hover: none) {
      &:active {
        @include home__button-shadow;
      }
    }
  }
}
