@import '../../styles/colors';
@import '../../styles/shared';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  min-height: 50px;

  display: flex;
  justify-content: space-between;
  padding: 0 7em;

  background: linear-gradient(to top, $header-background 40%, $global-background);
  backdrop-filter: blur(2px);

  box-shadow: 0 0 2em 1em $header-background;

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0;
    justify-content: space-around;
  }

  &__logo {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-decoration-line: none;
    color: $global-text;
    margin: 0.5em 15px;
    letter-spacing: -0.08em;
    font-weight: 300;

    border-color: transparent;
    border-style: solid;
    border-width: 1px 0;

    @media screen and (hover: hover) {
      &:hover {
        border-bottom: 1px solid rgba($link-color, 0.4);
      }
    }

    &_active {
      font-weight: 500;
      cursor: default;

      &:active {
        cursor: not-allowed;
      }

      @media screen and (hover: hover) {
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }

  &__navigation {
    margin: 0;
    padding: 0.25em 15px;
    border-left: 1px solid #525252;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    text-decoration-line: none;
    color: #999;

    @media screen and (hover: hover) {
      &:hover {
        color: $global-text;
      }
    }

    &_active {
      color: $link-color;
      cursor: default;

      @media screen and (hover: hover) {
        &:hover {
          color: $link-color;
        }
      }

      &:active {
        cursor: not-allowed;
      }
    }
  }

  &__language {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0.1em;

    position: relative;

    &::before {
      pointer-events: none;

      content: '';
      position: absolute;
      left: 0;
      top: 5%;

      height: 45%;
      width: 100%;

      border-radius: 0.6em;

      background-color: #ddd;

      transition-duration: 0.4s;
      transition-property: top;
      transition-timing-function: $button-timing-function;

      mix-blend-mode: difference;
    }

    &_moved {
      &::before {
        top: 50%;
      }
    }

    &-button {
      appearance: none;
      cursor: pointer;
      user-select: none;

      margin: 0.1em;
      padding: 0 0.2em;

      background-color: transparent;
      color: #999;
      font-size: 1em;

      border: 0;

      &_selected {
        cursor: default;

        &:active {
          cursor: not-allowed;
        }
      }
    }
  }
}
