@import '../styles/colors';

.page {
  margin: 0;
  background: $global-background;
  font-family: 'SourceCodePro', 'Courier New', Courier, monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
